DEBUG=True
SECRET_KEY=
ALLOWED_HOSTS=localhost

# CORS
CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOWED_ORIGINS=

# Banco de dados
DB_NAME=news_manager
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432